#shop user data

In [8]:
import pandas as pd
path =r'E:\FINAL_PROJECT_DATA\FashioNet\MAIN_SYSTEM\__data_for_simulation.csv'
df = pd.read_csv(path, delimiter=",")
df.head(30)

,Unnamed: 0,UserID,Age,Clothing ID,Pic_path,Rating,Recommended IND,Positive Feedback Count,Class Name
0,9556,D,28,206,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,1,Blouses
1,1065,B,42,103,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,3,Dresses
2,10419,D,28,221,C:\Users\amit hayoun\Desktop\reant_anyway_data...,1,0,3,Blouses
3,9113,D,28,210,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,11,Blouses
4,8978,E,25,209,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,1,Blouses
5,782,B,42,101,C:\Users\amit hayoun\Desktop\reant_anyway_data...,2,0,1,Dresses
6,4523,A,32,115,C:\Users\amit hayoun\Desktop\reant_anyway_data...,3,0,0,Dresses
7,9345,E,25,220,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,0,Blouses
8,2624,C,36,109,C:\Users\amit hayoun\Desktop\reant_anyway_data...,1,0,2,Dresses
9,7308,A,32,417,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,0,Skirts
10,8327,D,28,208,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,0,Blouses
11,1728,D,28,119,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,6,Dresses
12,8394,B,42,216,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,3,Blouses
13,6629,B,42,308,C:\Users\amit hayoun\Desktop\reant_anyway_data...,3,1,13,Shorts
14,3106,B,42,107,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,4,Dresses
15,225,A,32,117,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,0,Dresses
16,2113,D,28,116,C:\Users\amit hayoun\Desktop\reant_anyway_data...,3,1,3,Dresses
17,6719,D,28,406,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,5,Skirts
18,9626,D,28,223,NaN,5,1,2,Blouses
19,1556,B,42,101,C:\Users\amit hayoun\Desktop\reant_anyway_data...,3,1,3,Dresses
20,6532,B,42,305,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,0,0,Shorts
21,5571,C,36,102,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,0,Dresses
22,4113,D,28,115,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,0,Dresses
23,4312,B,42,109,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,0,Dresses
24,291,C,36,110,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,0,Dresses
25,2357,B,42,101,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,1,Dresses
26,7901,A,32,220,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,3,Blouses
27,5485,E,25,108,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,0,Dresses
28,852,C,36,109,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,0,Dresses
29,6576,B,42,320,NaN,5,1,4,Shorts

#user data

In [14]:
user_id = 'A'
data = df.loc[df["UserID"] == user_id]
data.head(5)

,Unnamed: 0,UserID,Age,Clothing ID,Pic_path,Rating,Recommended IND,Positive Feedback Count,Class Name
6,4523,A,32,115,C:\Users\amit hayoun\Desktop\reant_anyway_data...,3,0,0,Dresses
9,7308,A,32,417,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,0,Skirts
15,225,A,32,117,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,1,0,Dresses
26,7901,A,32,220,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,3,Blouses
33,4700,A,32,116,C:\Users\amit hayoun\Desktop\reant_anyway_data...,4,0,51,Dresses

#show user most faveroite items by category

In [15]:
category = "Dresses"
data = data.loc[data["Class Name"] == category]
data = data.sort_values(by=['Rating'],ascending=False)
data.head(5)

,Unnamed: 0,UserID,Age,Clothing ID,Pic_path,Rating,Recommended IND,Positive Feedback Count,Class Name
149,4337,A,32,112,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,1,Dresses
100,2423,A,32,113,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,0,Dresses
177,2109,A,32,103,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,31,Dresses
166,923,A,32,112,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,1,Dresses
155,1454,A,32,112,C:\Users\amit hayoun\Desktop\reant_anyway_data...,5,1,3,Dresses

In [17]:
import os
import cv2
import numpy as np
import random
import pandas as pd
import random
from keras.preprocessing import image
from keras.applications.vgg16 import VGG16
from keras.applications.vgg16 import preprocess_input
import numpy as np

item_1 = data.iloc[0]['Pic_path']
item_2 = data.iloc[1]['Pic_path']   
item_3 = data.iloc[2]['Pic_path']
print(item_1)
print(item_2)
print(item_3)

im1 = cv2.imread(item_1)
imS1 = cv2.resize(im1, (224, 224))
cv2.imshow('user item', imS1)

# im2 = cv2.imread(item_2)
# imS2 = cv2.resize(im2, (224, 224))

# im3 = cv2.imread(item_3)
# imS3 = cv2.resize(im3, (224, 224))

# im4 = cv2.imread(item_path_dict.get(l[3]))
# imS4 = cv2.resize(im4, (224, 224))
# #numpy_horizontal_concat = np.concatenate((imS1, imS2,imS3,imS4), axis=1)
# numpy_horizontal_concat = np.concatenate((imS2, imS3, imS4), axis=1)
# cv2.imshow('Numpy Horizontal Concat', numpy_horizontal_concat)

cv2.waitKey(0)

ModuleNotFoundError: No module named 'cv2'